
.card__like-button:hover::before {
    content: '';
    display: flex;
    margin: -3px -6px -3px -6px;
    position: relative;
    width: 130px;
    height: 38px;
    background-color: var(--main-color);
    animation: fillbutton 0.5s ease-in-out alternate;
}

.button_with_border:hover .button__text {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    color: var(--background-color);
    transition: color 0.3s ease;

}

.card__like-button:hover .button__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

/*.save_button {*/
/*    overflow: hidden;*/
/*}*/

/*.save_icon {*/
/*    overflow: hidden;*/
/*}*/

footer .card_button_group:hover .save_button::before {
    /*footer .card_button_group .save_button::before {*/
    content: '';
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*!*padding-top: 50px;*!*/
    /*!*padding-left: 50px;*!*/
    /*margin: 0 0 0 0;*/
    /*padding:0;*/
    position: relative;
    /*top: 58px;*/
    /*min-width: 306px;*/
    /*max-width: 335px;*/
    /*min-height: 58px;*/
    /*max-height: 84px;*/
    background-color: var(--main-color);
    animation: fillbutton 5s ease-in-out alternate;
}

footer .card_button_group:hover .save_icon {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    color: var(--background-color);
    transition: color 0.3s ease;
    margin-top: -60px;
}

.card_button_group:hover .save_button .button__text {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}


.card__icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 42px;
    border: 2px solid transparent;

}

.card__icon-button:focus-visible {
    border: var(--outline-border-styles);
    transition: 0.3s ease;
}