/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-name-basic: "Inter", san-serif;
    --font-name-accent: "PressStart2P", san-serif;
    --header-font-weight: 700;
    --text-font-weight: 400;
    --header-font-size: 18px;
    --text-font-size: 14px;
    --background-color: #FFFFFF;
    --button-color: #FFFFFF;
    --main-color: #000000;
    --font-color: #000000;
    --favicon-color: #000000;
    --gradient1-color1: rgb(211, 211, 211, 1);
    --gradient1-color2: rgb(211, 211, 211, 0);
    --gradient2-color1: #e7e7e7;
    --gradient2-color2: #1a1a1a;
    --heart-countour-color: #000000;
    --heart-sparks-color: #FF0000;
}
